@import "utils";
@import "fonts";
@import "typography";

p {
  margin: 0;
}

#thumbs {
  display: flex;
  width: min-content;
  padding: 5px;
}

a {
  img {
    margin: 2px;
    border: 1px solid white;
    &:hover {
      border: 1px solid black;
    }
  }
}
